<%- include('../partials/header') %>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Info da série</h2>
        <form method="post">
          <div class="mb-3">
            <p>Nome da serie: <%= serie.name %></p>
          </div>
          <textarea name ='comentario' class="form-control">
          </textarea>
          <input type="submit" value ='Adicionar comentario' class="btn btn-secondary">
        </form>
        <% serie.comments.forEach(c => {%> 
            <p><%= c %> </p>
       <% })  %>  
      </div>
    </div>
  </div>
</section>

<%- include('../partials/footer') %>
