
<%- include('../partials/header') %>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Nova Series</h2>
        <form method="post">
            <div class="mb-3">
              <label for="nome" class="form-label">Nome</label>
              <input type="text" class="form-control" id="nome" aria-describedby="nomeHelp" name='name' placeholder="Digite o nome da Série">
            </div>
            <select class="form-select" aria-label="Default select example" name ='status'>
                <option selected>Selecione o status da série</option>
                <option value="to-watch">Para assistir</option>
                <option value="watching">Assistindo</option>
                <option value="watched">Ja assistido</option>
              </select>  
            <button type="submit" class="btn btn-primary">Salvar</button>
          </form>
      </div>
    </div>
  </div>
</section>

<%- include('../partials/footer') %>