<%- include('partials/header') %>
<div class="container  h-100">
  <div class="h-100 container text-center  text-white d-flex flex-column justify-content-center align-items-center">
    <h1><img src="images/logo.png" alt="Minhas Séries" /></h1>
    <p class="lead">Gerencie suas séries com Express + Mongo + NodeJS</p>
  </div>
</div>

<%- include('partials/footer') %>
